<div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom:#transparent-sticky-navbar" class="w3-card-4 show">
    <div><a class="uk-navbar-toggle myNav" uk-navbar-toggle-icon href="#nav"></a></div>
    <nav class=" uk-navbar " uk-navbar style="position: relative; z-index:1;" id="">
        <div class="menu uk-navbar-center">
            <ul class="uk-navbar-nav uk-text-large r1-here " uk-scrollspy-nav="closest: li; scroll: true" id="nav">
                <li><a href="">Home</a></li>
                <li><a href="#aboutMe" uk-scroll>About</a></li>
                <li><a href="#my-skills" uk-scroll>Skills</a></li>
                <!-- <li><a href="#my-Experience" uk-scroll>Experience</a></li> -->
                <li><a href="#my-Services" uk-scroll>Services</a></li>
                <li><a href="#modal-close-default" uk-toggle="target: #modal-close-default">Projects</a></li>
                <li><a href="#my-Contact" uk-scroll>Contact</a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="uk-section uk-background-blend-multiply uk-background-cover first"
    style="background-image:url(images/code.jpg); background-color:#004b8d; background-attachment:fixed" >
    <div class="uk-container">
        <div class=" uk-flex uk-flex-center uk-flex-middle uk-height-large">  
            <div class="name ">
                <h1 id="Ruth" class="my-name"  style="color:#0b78d1;">I'M <span style="color:#fff;">RUTH NYONG</span></h1>
                <p> Data Analyst & Web Developer</p>
            </div>
        </div>
    </div>
</div>

<div class="uk-section" id="aboutMe" >
<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
            <h2 class="about">ABOUT ME</h2>
        </div>
    </div>
</div><br><br>
<div class="container" >
    <div class="row">
        <div class="col-md-6 uk-background-cover" style="background-image: url(images/RUTH1.jpg) no-repeat;">
            <div class="" uk-scrollspy="cls: uk-animation-slide-left; repeat:true">
               <div class="w3-card-4 uk-align-center uk-background-contain"  style="background-image:url(images/RUTHIE.jpg); height: 400px;"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="" uk-scrollspy="cls: uk-animation-slide-right; repeat:true">   
                <p class="uk-align-center" id="mySelf">
                My name is Ruth Nyong. A graduate of Agriculture from University of Uyo and tech savvy. I believe technology adds 
                meaning to our everyday life through value creation.
                <br> Delving into tech has helped
                me proffer technical solutions to the growth of my community. As a tech enthusiast, I believe so much in the future of technology that is why I aim at sharing and helping
                entrepreneurs and business owners leverage on technological tools to proffer solutions to their business
                 </p>

                <p>I'm fascinated about how data affects our businesses, so I tutor people on Microsoft Excel.
                I believe learning is continuous, as such, I am open for collaboration on projects that 
                    will help impact positively in the world. If you have any stellar idea and need any collaboration, drop me a message and we'll see it through. </p>
            </div>
        </div>
    </div>    
</div><br><br>

    <div class="container" id="my-skills" >
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
                <h2>SKILLS</h2>
            </div>
        </div>
    </div><br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div>
                     <h4><span uk-icon="icon:settings; ratio:2.4"></span> Technical Skills </h4>
                     <h6>Data Entry / Analysis  <span> 78% </span></h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated " style="width: 80%"> </div>
                        </div>
                                       
                     <h6> Microsoft Excel <span> 75% </span></h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated " style="width: 75%"> </div>
                        </div>
                                       
                     <h6>Web Development  <span> 68% </span></h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated " style="width: 70%">  </div>
                        </div>

                     <h6>Javascript  <span> 65% </span></h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated " style="width: 78%"> </div>
                        </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class=" left"style="">
                     <h4><span class="fa fa-briefcase fa-2x"></span> Professional Skills </h4>
                     <h6>Digital skills  <span> 80% </span></h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated " style="width: 87%"> </div>
                        </div>
                                           
                     <h6>Data Visualization  <span> 75% </span></h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated " style="width: 80%">  </div>
                        </div>
           
                     <h6>Communication  <span> 85% </span></h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated " style="width: 85%"> </div>
                        </div>
           
                     <h6>Collaboration <span> 70% </span></h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated " style="width: 78%">  </div>
                        </div> 
           
                </div>
            </div>
        </div>
    </div>                            
</div>
                            

<div class="uk-section " id="my-Services">
    <div class="container ">
        <div class="row">
            <div class="col-md-12">
                <h2 class="about">SERVICES</h2>
            </div>
        </div>
    </div><br><br>
               
    <div class="container ">
        <div class="row">
            <div class="col-md-4">
                <figure class="w3-card-4 color" uk-scrollspy="cls: uk-animation-slide-bottom; repeat:true">
                        <div class="uk-background-cover" style="background-image: url(images/code.jpg); height:200px; width: 100%;"></div>  
                    <figcaption>
                        <div><header><h5 class="myHeader">Web Development</h5></header>
                        <p class="text" align="center">I proffer web and IT solutions by creating timeless websites that makes your brand standout. 
                                I offer real time digital services to organizations to increase their efficiency and increase 
                                their value.
                                I am available for on-location and remote jobs be it a full project or outsourced. </p>
                                </div>
                    </figcaption>
                </figure>
            </div>

            <div class="col-md-4 " uk-scrollspy="cls: uk-animation-slide-bottom; repeat:true">
                <figure class="w3-card-4 color">
                        <div  class="uk-background-cover" style="background-image: url(images/Office.jpg); height:200px; width: 100%;"></div> 
                    <figcaption>
                            <header><h5 class="myHeader1">Data Entry / Analysis</h5></header>
                            <p class="text1" align="center">I am skilled in using Spreadsheet software for Data Entry, Extraction, Analysis and visualise your business data to help managers make informed business decisions
                            </p>
                    </figcaption>
                </figure>
            </div>

            <div class="col-md-4" uk-scrollspy="cls: uk-animation-slide-bottom; repeat:true">
                <figure class="w3-card-4 color">
                    <div  class="uk-background-cover" style="background-image: url(images/DM.jpg) ; height:200px; width: 100%;"></div> 
                    <figcaption>
                           <div> <header><h5 class="myHeader2">Digital marketing</h5></header>
                            <p class="text2" align="center">The world is dynamic and technology has come to stay. To stay relevant in your industry, I can help your organization grow digitally for increased efficiency by setting strategic goals and innovative ideas
                                to meet organization or individual objectives.  </p>
                            </div>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>
    <div id="modal-close-default" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-height-large">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <h2 class="uk-modal-title">PROJECTS</h2>
            <span class=" uk-align-center" align="center"> <i class="fa fa-wrench fa-4x"></i></span>
            <p>This page is currently under development. Please check back later or contact the developer on<b style="color:#00468d;">+234-810-046-1073</b></p>
        </div>
    </div>

    <div class="uk-section  uk-background-blend-multiply uk-background-cover"  style="background-image:url(images/contact.jpg); background-color:#004b8d;background-repeat:no-repeat;"  id="my-Contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
                    <h2 class="white">GET IN TOUCH</h2>
                </div>
            </div>
        </div><br><br>

        <div class="container">
            <div class="row" uk-scrollspy="cls: uk-animation-scale-down; target: > div; repeat:true">
                <div class="col-md-6">
                    <div class="" align="center">
                        <form action="send" id="contact-form" method="post" role="form">
                            <fieldset>
                                
                                    <% if(messages.success){ %>
                                        <div class="alert alert-success">
                                            <strong><%- messages.success%></strong> 
                                        </div>
                                    <% } %> 

                                <label for="name">Name &#42;</label>
                                <input id="name" name="name" type="text" placeholder="Your name" required="required">

                                <label for="email">Email &#42;</label>
                                <input id="mail" name="email" type="email" placeholder="Your email" required="required">
                                <label for="message">Message &#42;</label>
                                <textarea id="message" name="message" placeholder="Enter your message here" rows="3" required="required"></textarea>
                                <button type="submit" id="btn" onclick="">Submit</button>
                                 
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="" align="" uk-scrollspy="cls: uk-animation-slide-top; repeat:true">
                        <ul class="address uk-align-center" align="center">
                            <li>
                                <ul class="address-text">
                                    <li><b>PHONE: </b></li>
                                    <li>+234 810 046 1073</li>
                                </ul>
                            </li>
                            <li>
                                <ul class="address-text">
                                    <li><b>ADDRESS: </b></li>
                                    <li>The Roothub, Akees Plaza, IBB Avenue opposite Ibom Hall,Uyo, Akwa Ibom State </li>
                                </ul>
                            </li>
                            <li>
                                <ul class="address-text">
                                    <li><b>E-MAIL: </b></li>
                                    <li><a href="mailto:ruthny16@gmail.com">ruthny16@gmail.com</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="down" align="center">
                        <div class="social-icon">
                            <ul class=" medium-icon">
                                <li><a class="google" href="mailto:ruthny16@gmail.com" target="_blank"><i class="fa fa-google"></i><span></span></a></li>
                                <li><a class="github" href="https://github.com/sumptious" target="_blank"><i class="fa fa-github"></i><span></span></a></li>
                                <li><a class="linkedin" href="https://linkedin.com/in/ruth-nyong" target="_blank"><i class="fa fa-linkedin"></i><span></span></a></li>
                                <li><a class="facebook" href="https://www.facebook.com/sumptious.squad" target="_blank"><i class="fa fa-facebook"></i><span></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
