<DOCTYPE html>
    <html  class="no-js" lang="en">
        <head>
           <% include ../partials/head %>
        </head>
    <body class="uk-background-blend-multiply" style=" background-image: url(images/bg.png); background-position: center; background-size: cover;">
        <% include ../partials/body %>
                <footer>
                    <% include ../partials/footer %>
                </footer>
              
        <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="js/modernizr.js"></script>
        <script type="text/javascript" src="js/uikit.min.js"></script> 
        <script type="text/javascript" src="js/uikit-icons.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/uk.js"></script>
        <script>
            
        </script>
       
    </body>
</html>


  
 